---
import HtmlIcon from "../assets/images/icons/html-icon.svg"
import CssIcon from "../assets/images/icons/css-icon.svg"
import JavaScriptIcon from "../assets/images/icons/javascript-icon.svg"
import AngularIcon from "../assets/images/icons/angular-icon.png"
import TypeScriptIcon from "../assets/images/icons/typescript-icon.svg"
import AstroIcon from "../assets/images/icons/astro-icon.svg"
import SpringIcon from "../assets/images/icons/spring-icon.svg"
import JavaIcon from "../assets/images/icons/java-icon.svg"
import ExpressIcon from "../assets/images/icons/express-icon.svg"
import MysqlIcon from "../assets/images/icons/mysql-icon.svg"
import PostgresqlIcon from "../assets/images/icons/postgresql-icon.png"
import MongodbIcon from "../assets/images/icons/mongodb-icon.svg"
import DockerIcon from "../assets/images/icons/docker-icon.svg"
import GitIcon from "../assets/images/icons/git-icon.svg"
import GithubIcon from "../assets/images/icons/github-icon.svg"
import PythonIcon from "../assets/images/icons/python-icon.svg"
import AzureIcon from "../assets/images/icons/azure-icon.svg"

---

<section>
    <div class="flex flex-col items-center m-6 text-white">
        <h1 class="text-white animate-pulse font-bold text-xl md:text-3xl ">Tecnologías</h1>
    </div>
    <div class="flex flex-col items-center m-6 md:grid grid-cols-3">
        <!-- Frontend -->
        <div class="card-wrapper w-full h-[250px] bg-[#0f172a] rounded-3xl p-2 mb-6 md:col-span-2">
            <div class="card-content">
                <span class="text-white font-bold text-xl block pb-4 md:text-3xl"> Frontend</span>
                <div class="w-full h-full flex flex-row flex-wrap gap-4">
                    <label class="flex flex-col gap-2 items-center">
                        <img src={HtmlIcon.src} alt="HTML" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">HTML5</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={CssIcon.src} alt="CSS" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">CSS3</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={JavaScriptIcon.src} alt="JavaScript" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">JavaScript</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={AngularIcon.src} alt="Angular" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Angular</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={TypeScriptIcon.src} alt="TypeScript" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">TypeScript</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={AstroIcon.src} alt="Astro" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Astro</span>
                    </label>
                    
                </div>
            </div>
        </div>

        <!-- Backend -->
        <div class="card-wrapper w-full h-[150px] bg-[#0f172a] rounded-3xl p-2 mb-6 md:h-[250px] ml-4">
            <div class="card-content">
                <span class="text-white font-bold text-xl block pb-4 md:text-3xl"> Backend</span>
                <div class="w-full h-full flex flex-row flex-wrap gap-4">
                    <label class="flex flex-col gap-2 items-center">
                        <img src={SpringIcon.src} alt="Spring" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Spring</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={JavaIcon.src} alt="Java" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Java 24 </span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={ExpressIcon.src} alt="Express" class="w-6 aspect-square bg-white p-1 rounded-full">
                        <span class="font-mono text-white font-bold">Express.js</span>
                    </label>
                    
                </div>
            </div>
        </div>

        <!-- Bases de datos -->
        <div class="card-wrapper w-full h-[150px] bg-[#0f172a] rounded-3xl p-2 mb-6 md:h-[250px] col-span-1">
            <div class="card-content">
                <span class="text-white font-bold text-xl block pb-4 "> Bases de datos</span>
                <div class="w-full h-full flex flex-row flex-wrap gap-4">
                    <label class="flex flex-col gap-2 items-center">
                        <img src={MysqlIcon.src} alt="MySQL" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">MySQL</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={PostgresqlIcon.src} alt="PostgreSQL" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">PostgreSQL</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={MongodbIcon.src} alt="MongoDB" class="w-6 aspect-squar">
                        <span class="font-mono text-white font-bold">MongoDB</span>
                    </label>
                    
                </div>
            </div>
        </div>

        <!-- Herramientas -->
        <div class="card-wrapper w-full h-[250px] bg-[#0f172a] rounded-3xl p-2 mb-6 md:h-[250px] col-span-2 ml-4">
            <div class="card-content">
                <span class="text-white font-bold text-xl block pb-4 md:text-3xl"> Herramientas</span>
                <div class="w-full h-full flex flex-row flex-wrap gap-4">
                    <label class="flex flex-col gap-2 items-center">
                        <img src={DockerIcon.src} alt="Docker" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Docker</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={GitIcon.src} alt="Git" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Git</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={GithubIcon.src} alt="GitHub" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">GitHub</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src={PythonIcon.src} alt="Python" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Analytics</span>
                    </label>
                    <label class="flex flex-col gap-2 items-center">
                        <img src="./src/assets/images/icons/azure-icon.svg" alt="Azure" class="w-6 aspect-square">
                        <span class="font-mono text-white font-bold">Azure</span>
                    </label>
                    
                    
                </div>
            </div>
        </div>

        
    </div>
</section>

<style scoped>
    @reference '../styles/global.css';

    .card-wrapper{
        @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
    }
    .card-wrapper::before{
        background: conic-gradient(
            rgba(244,114,182,0.4) 0deg,
            rgba(192,132,252,0.4) 0deg,
            transparent 80deg
        );

        @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] animate-border-spin md:h-[260%] md:w-[260%] md:left-[-80%] md:top-[-80%]; 
    }
    .card-content{
        @apply absolute h-[calc(100%-6px)] w-[calc(100%-6px)] left-[3px] top-[3px] bg-gradient-to-b from-slate-800 to-slate-900 rounded-2xl p-6;
    }
</style>